{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "Css/style.css" %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <script src="{% static "JS/custom.js" %}"></script>
</head>

<body>
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 78px;">
        <nav class="navbar navbar-expand-lg" style="width: 1903px;">
            <div class="container">
                <a class="navbar-brand" href="{% url "index" %}">
                    <i class="bi-back"></i>
                    <span>NeStud</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll {% block activeHome %}{% endblock activeHome %}" href="{% url "index" %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll  {% block activeCourse %}{% endblock activeCourse%}" href="{% url "Course" %}">Courses</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll  {% block activeIntership %}{% endblock activeIntership%}" href="{% url "Intership" %}">Intership</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll  {% block activeEvent %}{% endblock activeEvent %}" href="{% url "Event" %}">Event</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link click-scroll  {% block activeMentorship %}{% endblock activeMentorship %}" href="{% url "Mentors" %}">Mentors</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll  {% block activeContact %}{% endblock activeContact %}" href="{% url "Contact" %}">Contact</a>
                        </li>

                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="/dashboard" class="navbar-icon smoothscroll">
                            <i class="fa fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock content %}

    <section class="subscribe__one three">
        <div class="row justify-content-center text-center subscribe__one-content">
            <div class="col-xl-7 col-lg-8">
                <div class="subscribe__one-title">
                    <h3>Join Our Newsletter</h3>
                    <p>Don't miss out on the essential IT news and updates - join our newsletter community today!
                    </p>
                </div>
                <form action="#" method="POST" class="subscribe__one-form">
                    {% csrf_token %}
                    <input type="email" name="newsletter-email" placeholder="Enter Your Email" fdprocessedid="audlpi">
                    <button class="btn-two" type="submit" fdprocessedid="noq5qv">subscribe now</button>
                </form>
            </div>
        </div>
    </section>
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="{% url "index" %}">
                        <i class="bi-back"></i>
                        <span>NeStud</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="{% url "index" %}" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{% url "Course" %}" class="site-footer-link">Courses</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{% url "Intership" %}" class="site-footer-link">Intership</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{% url "Event" %}" class="site-footer-link">Event</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{% url "Contact" %}" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 7069017730" class="site-footer-link">
                            +91 7069017730
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:kaushikmangukiya70@gmail.com" class="site-footer-link">
                            info@NeStud.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 NeStud - IT Student Platefrom. All rights reserved.
                    </p>
                </div>

            </div>
        </div>
    </footer>
</body>
</html>